@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.html {
  height: 100%;
}

h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

/* Логотип */
.logo {
  display: block;
  margin-right: 0 auto;
}

/* Навигация */
.navigation {
  display: flex;
  width: 1366px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: 0;
  width: 400px;
  line-height: 20px;
  list-style-type: none;
}

.navigation-link {
  text-align: center;
  color:#2D3440;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: 0;
  width: 419px;
  margin-left: auto;
  line-height: 20px;
  color:#2D3440;
  text-decoration: none;
  list-style-type: none;
}

.navigation-user-item-phone a {
  font-weight: 700;
  color:#2D3440;
  text-decoration: none;
}

.navigation-user-link {
  font-size: 14px;
  text-align: center;
  color:#2D3440;
  text-decoration: none;
}

.navigation-item-search {
  width: 32px;
  height: 32px;
  background-image: url("../img/icons/icon-search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FCFCFC;
  opacity: 0.3;
  border-radius: 50%;
}

.navigation-user-item-enter {
  width: 92px;
  height: 32px;
  background-image: url("../img/icons/icon-enter.svg");
  background-repeat: no-repeat;
  background-color: #FCFCFC;
  opacity: 0.3;
  border-radius: 26px;
}

.navigation-user-item-basket {
  width: 92px;
  height: 32px;
  background-image: url("../img/icons/icon-basket.svg");
  background-repeat: no-repeat;
  background-color: #FCFCFC;
  opacity: 0.3;
  border-radius: 26px;
}

/* Слайдер */
.slider-gallery-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: auto;
}

.slider-gallery-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider-gallery {
  display: flex;
  flex-direction: row;
}

.slider-button {
  width: 38px;
  height: 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  border-radius: 26px;
}

.slider-prev {
  background-image: url("../img/icons/icon-prev.svg");
  background-position: center;
}

.slider-next {
  background-image: url("../img/icons/icon-next.svg");
  background-position: center;
}

.slider-gallery-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 139px;
  height: 44px;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px solid rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.slider-pagination {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-list a {
  color:#2D3440;
  text-decoration: none;
}

.slider-gallery-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Подарок */
.present {
  width: 1170px;
  margin-top: 80px;
}
.section-present {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.present h2 {
  text-align: center;
}

.section-present-item-raspberries {
  width: 570px;
  background-image: url("../img/present-raspberries.png");
  background-position: right;
  background-repeat: no-repeat;
  background-color: #FF7799;
  border-radius: 16px;
  list-style-type: none;
}

.section-present-item-marshmallow {
  width: 570px;
  background-image: url("../img/present-marshmallow.png");
  background-position: right;
  background-repeat: no-repeat;
  background-color: #FF7799;
  border-radius: 16px;
  list-style-type: none;
}

.present-button {
  width: 139px;
  height: 44px;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px solid rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

/* Карточка товара */
.product {
  text-align: center;
  margin-top: 80px;
}

.product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product-card {
  text-align: center;
  width: 270px;
  background-color: #FCFCFC;
  border-radius: 8px;
  list-style-type: none;
}

.product-list-catalog {
  text-align: center;
  width: 270px;
  border-radius: 8px;
  list-style-type: none;
}

.product-card-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-card a {
  color:#2D3440;
  text-decoration: none;
}

.product-card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.product-card-button {
  width: 32px;
  height: 32px;
  background-image: url("../img/icons/icon-basket.svg");
  color: #FCFCFC;
  background-color: #FF2F64;
  background-repeat: no-repeat;
  border-radius: 26px;
}

/* Особенности */
.features {
  width: 1170px;
  height: 480;
  background-image: url("../img/background-waffle.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-top: 80px;
}

.features-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.features-items-block {
  width: 1122px;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.features-items-block h2 {
  text-align: center;
}

.features ul {
  list-style-type: none;
}

/* Блок с блогом и подпиской на новости */
.blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

/* Блог */
.article-blog {
  width: 570px;
  height: 216px;
  background-image: url("../img/background-blog.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.article-blog a {
  color: #2D3440;
  text-decoration: none;
}

/* Рассылка */
.newsletter {
  width: 570px;
  height: 220px;
  background-image: url("../img/background-post.png");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.newsletter-block {
  width: 558px;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.newsletter-button {
  width: 152px;
  height: 44px;
  color: #FCFCFC;
  background-color: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

/* Доставка */
.appointment {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1170px;
  height: 534px;
  background-image: url("../img/background-delivery.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-top: 80px;
}

.appointment-block {
  background-color: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

.button-send {
  width: 152px;
  height: 44px;
  color: #FCFCFC;
  background-color: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

/* Контакты */
.contacts {
  display: flex;
  width: 1170px;
  height: 492px;
  background-image: url("../img/background-address.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-top: 80px;
}

.contacts-block {
  width: 343px;
  height: 364px;
  background-color: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  text-decoration: none;
}

.contacts-address-street-city {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.contacts-address p {
  font-style: normal;
  text-decoration: none;
}

.contacts-phone {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
}

.button-feedback {
  width: 250px;
  height: 46px;
  background-color: #FF2F64;
  color: #FCFCFC;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  text-decoration: none;
}

/* Кнопка Текстовая настройка */
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/* Футер */
.page-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1170px;
  margin: 48px auto;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 356px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer-menu-item-suppliers {
  font-weight: 700;
}

.page-footer ul {
  list-style-type: none;
  color: #2D3440;
  text-decoration: none;
}

.footer-menu a {
  color: #2D3440;
  text-decoration: none;
}

.contacts-htmlacademy {
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  list-style-type: none;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

/* Фильтры */
.catalog-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

/* Каталог */
.product-list-catalog {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  width: 1170px;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  width: 1170px;
}

.button-catalog-filter {
  width: 187px;
  height: 36px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
}

.pagination-show-more {
  width: 179px;
  height: 44px;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.pagination-current {
  width: 24px;
  height: 24px;
  background: #FCFCFC;
  border-radius: 50%;
}

.pagination-catalog li {
  list-style-type: none;
}

.pagination-catalog a {
  list-style-type: none;
  color: #2D3440;
  text-decoration: none;
}

.pagination-catalog {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
